/* ------------------------------------------->>> Foonts Import */
@import url("https://fonts.googleapis.com/css2?family=Overpass&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");
/* font-family: 'Overpass', sans-serif; */
/* font-family: 'Capriola', sans-serif; */

/* ------------------------------------------->>> CSS Reset */
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0%;
  padding: 0%;
  text-decoration: none;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

.section {
  padding: 50px 8vw;
}

/* ------------------------------------------->>> Color */
.col-red {
  color: red;
}

.col-grey {
  color: rgb(143, 143, 143) !important;

}

.col-white {
  color: white !important;
}

.col-black {
  color: black;
}

.col-green {
  color: rgb(0, 255, 0) !important;
}

.col-blue {
  color: rgb(0, 191, 255) !important;
}

.col-yellow {
  color: yellow !important;
}

.bg-col-black {
  background-color: black;
}

/* ------------------------------------------->>> padding / margin */
.py-1 {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* ------------------------------------------->>> Text */
.heading-1 {
  color: red;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Capriola", sans-serif;
}

.heading-2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Capriola", sans-serif;
}

.sub-text-1 {
  font-size: 1.1rem;
  text-transform: capitalize;
  font-family: "Overpass", sans-serif;
}

.sub-text-2 {
  font-size: 1rem;
  font-family: "Capriola", sans-serif;
  color: rgb(143, 143, 143);
}

/* ------------------------------------------->>> Button */
.btn-1 {
  color: white;
  font-size: 1rem;
  font-family: "Capriola", sans-serif;
  text-transform: capitalize;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-size: 200% auto;
  background-image: linear-gradient(45deg, red 0%, darkred 51%, red 100%);
  cursor: pointer;
  transition: 0.5s;
}

.btn-1:hover {
  background-position: right center;
}

/* ------------------------------------------->>> Navbar CSS */
.nav {
  display: flex;
  width: 100vw;
  padding: 10px 8vw;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  z-index: 5;
}

.nav .logo {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Capriola", sans-serif;
  color: red;
}

.nav .nav-links a {
  color: white;
  font-size: 1.2rem;
  font-family: 'Overpass', sans-serif;
  text-transform: capitalize;
  margin: 4px 12px;
}

.nav .nav-links a:hover {
  animation: hover-effect 0.2s ease-in-out 0s 1 forwards;
  position: relative;
  color: red;
}

/* ------------------------------------------->>> Animations */

/* Navbar Links Animation CSS */
@keyframes hover-effect {
  0% {
    color: white;
    position: relative;
    bottom: 0px;
  }

  100% {
    color: red;
    bottom: 4px;
  }
}


/* ------------------------------------------->>> Responsive CSS */
@media screen and (max-width: 768px) {

  /* ------------------------------------------->>> Navbar CSS */
  .nav {
    flex-direction: column;
    padding: 0px 2vw;
    justify-content: center;
    align-items: center;
  }

  .nav .logo {
    font-size: 1.8rem;
  }

  .nav .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* ------------------------------------------->>> Text */
  .heading-1 {
    font-size: 1.5rem;
    /* text-align: center; */
  }

  .heading-2 {
    font-size: 1.2rem;
    /* text-align: center; */
  }

  .sub-text-1 {
    font-size: 1rem;
    padding-top: 12px;
    padding-bottom: 12px;
    /* text-align: center; */

  }

  /* ------------------------------------------->>> Button */
  .btn {
    text-align: center;
  }

  .btn-1 {
    font-size: 0.8rem;
    padding: 7px 10px;
    border-radius: 6px;
    margin-right: 6px;
    margin-top: 2px;
  }
}