/* --------------------------------------------------------->>> Slider CSS */
.parent-container {
    overflow: hidden;
    height: 750px;
    width: 100vw;
}

.slider-btn {
    width: 50px;
    height: 50px;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 400px;
    z-index: 6;
    background-color: transparent;
    border: none;
    border-radius: 500%;
}

#slider-btn-right {
    right: 2vw;
}

#slider-btn-left {
    left: 2vw;
}

.slider-btn:hover {
    background-color: rgba(255, 0, 0, 0.4);
}

.container {
    width: 100vw;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 250px 40% 100px 10%;
    background-color: rgba(0, 0, 0, 0.65);
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
    position: absolute;
    top: 0vh;
    /* transform: translateX(100vw); */
}
/* .parent-container > .container:nth-child(1){transform: translateY(0px);}
.parent-container > .container:nth-child(2){transform: translateY(-750px);}
.parent-container > .container:nth-child(3){transform: translateY(-1500px);}
.parent-container > .container:nth-child(4){transform: translateY(-2250px);} */

#container-1 {
    /* transform: translateX(0vw); */
    /* position: absolute; */
    z-index: 1;
    /* top: 0vh; */
    background-image: url(Images/Welcome.jpg);
}

#container-2 {
    /* margin-left: 100vw; */
    /* position: absolute; */
    /* top: 0vh; */
    /* transform: translateY(-750px); */
    background-image: url(Images/gang\ of\ wassepur\ hd\ poster.jpg);
}

#container-3 {
    /* margin-left: 100vw; */
    /* transform: translateY(-1500px); */
    /* position: absolute; */
    /* top: 0vh; */
    background-image: url(Images/oppenheimer-hd.jpg);
}

#container-4 {
    /* transform: translateY(-2250px); */
    /* margin-left: 100vw; */
    /* position: absolute; */
    /* top: 0vh; */
    background-image: url(Images/deadpool-3.jpg);
}












/* Movies Section */
.trending-section,
.ForYou-section {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    width: 15rem;
    height: 6px;
    background-color: red;
    margin: 20px 0px;
    border: none;
    border-radius: 20px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 5vw;
}

/* dropdown */
.options ul .dropdown-btn,
.options ul .dropdown li {
    font-size: 1.3rem;
    font-family: 'Overpass', sans-serif;
    width: 150px;
    color: white;
    border-bottom: 1px solid white;
    padding: 4px 8px;
    cursor: pointer;
}

.options .dropdown {
    position: absolute;
    background: black;
    z-index: 2;
}

.options .dropdown li {
    border-bottom: 1px solid white;
    border-radius: 0px;
}

.options .dropdown li:hover {
    background-color: gray;
}

/* Search */
.options .search {
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 20px;
    height: 40px;
    width: 00px;
}

.hide {
    display: none;
}

.options .search input {
    color: white;
    font-size: 1.2rem;
    font-family: 'Overpass', sans-serif;
    border: none;
    width: 230px;
    padding: 0px 10px;
    background-color: transparent;
    justify-self: flex-start;
}

.options .search input:focus {
    outline: none;
}

.options .search img {
    filter: invert(100);
    display: inline-block;
    width: 45px;
    height: 45px;
    z-index: 1;
    padding: 2px;
    cursor: pointer;
    background-color: white;
    border: black 1px solid;
    border-radius: 50%;
    justify-self: flex-end;
}

/* Movie Cards */
.card-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.card {
    width: 200px;
    height: 380px;
    margin: 20px 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    cursor: pointer;
    position: relative;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.card .img-container {
    width: 200px;
    height: 300px;
}

.card .img-container img {
    width: 100%;
    height: 100%;
}

.card .detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}












.news-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-section .box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    gap: 10px;
}

.one,
.two,
.three,
.four {
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    transition: all 0.5s;
}

.news-section .box .one {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(Images/news-1.jpg);
}

.news-section .box .two {
    grid-column: span 2;
    background-image: url(Images/news-2.jpg);
}

.news-section .box .three {
    background-image: url(Images/news-3.jpg);
}

.news-section .box .four {
    background-image: url(Images/news-4.jpg);
}








.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    background-image: url(Images/about\ us.jpg);
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-section .sub-text-1 {
    text-align: center;
    padding: 20px 80px;
}

.partnership-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.partners img {
    width: auto;
    height: 80px;
    margin: 25px;
}

.partners img:nth-child(2),
.partners img:nth-child(4) {
    filter: invert(100);
}















.subscription-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plans {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px;
}

.plan-card {
    height: 400px;
    width: 250px;
    border-radius: 50px;
    margin: 20px 30px;
    background-image: linear-gradient(225deg, red, darkred 50%, rgb(50, 0, 0));
}

.plan-card .details-card {
    height: 300px;
    width: 250px;
    background-color: grey;
    border-radius: 50px;
    position: relative;
    top: 25px;
    left: 25px;
    padding: 20px;
}

.plan-card .details-card .heading-2 {
    color: black;
    font-weight: 1000;
    padding: 3px 0px;
}

.plan-card .heading-1 .cent {
    font-size: 1.5rem;
}

.plan-card .details-card .sub-text-2 {
    color: lightgray;
}

.plan-card .details-card .super-circle {
    width: 170px;
    height: 170px;
    box-sizing: content-box;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: 7px solid red;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.plan-card .details-card .super-circle:hover {
    transform: translateX(-50%) scale(1.1);
}

.plan-card .details-card .circle {
    width: 170px;
    height: 170px;
    background-color: black;
    text-align: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px solid grey;
}



















.footer {
    padding: 1vh 8vw;
}

.newsletter {
    background-image: linear-gradient(225deg, red, darkred 50%, rgb(50, 0, 0));
    /* height: 100px; */
    width: 100%;
    border-radius: 20px;
    position: relative;
    bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}

.email input,
.email button {
    color: black;
    width: 300px;
    font-size: 1rem;
    font-family: "Overpass", sans-serif;
    font-weight: bold;
    padding: 12px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.email button {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.7);
}

.email button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.description {
    margin: 10px 2vw;
}

.description p {
    min-width: 280px;
    max-width: 400px;
}

.description .social-icons img {
    display: inline-block;
    width: 35px;
    margin: 10px 10px;
    transition: 0.5s;
    cursor: pointer;
}

.description .social-icons img:hover {
    transform: scale(1.15);
}

.links,
.news {
    display: flex;
    flex-direction: column;
    margin: 10px 2vw;
}

.news a {
    min-width: 280px;
    max-width: 350px;
}

.footer-content a {
    text-transform: capitalize;
    padding: 4px 0px;
    font-family: "Overpass", sans-serif;
}

.footer-content a:hover {
    color: red;
}

.footer hr {
    margin-top: 30px;
}

.footer-end {
    display: flex;
    padding: 8px 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-end .sub-text-2:nth-child(2):hover {
    color: red;
    cursor: pointer;
}






















/* ----------------------------------------------------> Slider ANIMATIONS  */
/* Animation Classes to be used By JavaScript */
.container-animation-slide-in-forward {
    animation: slide-in-forward 1s ease-out 0s 1 forwards;
}

.container-animation-slide-out-forward {
    animation: slide-out-forward 1s ease-out 0s 1 forwards;
}

.container-animation-slide-in-backward {
    animation: slide-in-backward 1s ease-out 0s 1 forwards;
}

.container-animation-slide-out-backward {
    animation: slide-out-backward 1s ease-out 0s 1 forwards;
}

/* For Starting text Animation  */
.first-heading-animation {
    position: relative;
    left: -100vw;
    animation: slide-text 1.5s ease-out 0s 1 forwards;
}

.first-text-animation {
    position: relative;
    left: -100vw;
    animation: slide-text 1.5s ease-out 1.2s 1 forwards;
}

.first-btn-animation {
    position: relative;
    left: -100vw;
    animation: slide-text 1.5s ease-out 1.4s 1 forwards;
}

/* Search bar Animation to be used by JavaScript */
.search-animation-slide-out {
    animation: search-slide-out 1s ease 0s 1 forwards;
}

.search-animation-slide-in {
    animation: search-slide-in 1s ease 0s 1 forwards;
}


/* Text sliding Animation */
@keyframes slide-text {
    0% {
        left: -100vw;
    }

    100% {
        left: -0vw;
    }
}

/* Slider Animations  */
@keyframes slide-in-forward {
    0% {
        /* left: 100vw; */
        transform: translatex(100vw);
    }
    
    100% {
        transform: translatex(0vw);
        /* left: 0vw; */
    }
}

@keyframes slide-out-forward {
    0% {
        transform: translatex(0vw);
        /* right: 0vw; */
    }
    
    100% {
        transform: translatex(-100vw);
        /* right: 100vw; */
    }
}

@keyframes slide-in-backward {
    0% {
        transform: translatex(-100vw);
        /* right: 100vw; */
    }
    
    100% {
        transform: translatex(0vw);
        /* right: 0vw; */
    }
}

@keyframes slide-out-backward {
    0% {
        transform: translatex(0vw);
        /* left: 0vw; */
    }
    
    100% {
        transform: translatex(100vw);
        /* left: 100vw; */
    }
}

/* Searchbar Opening / Clossing Animation */
@keyframes search-slide-out {
    0% {
        width: 0px;
        justify-content: right;
        border: white 1px solid;
    }

    100% {
        width: 300px;
        border: white 1px solid;
    }
}

@keyframes search-slide-in {
    0% {
        width: 300px;
        border: white 1px solid;
    }

    90% {
        border: white 1px solid;
    }

    95% {
        width: 30px;
        border: none;
    }

    100% {
        width: 0px;
        justify-content: right;
    }
}

















/* ------------------------------------------->>> Responsive CSS */
@media screen and (max-width: 768px) {

    /* --------------------------------------------------------->>> Slider CSS */
    .parent-container {
        height: 800px;
    }

    .slider-btn {
        position: relative;
        top: 250px;
    }

    #slider-btn-right {
        left: calc(94vw - 50px);
    }

    #slider-btn-left {
        right: 2vw;
    }

    .slider-btn {
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
    }

    .container {
        padding: 250px 50px 100px 50px;
        align-items: center;
        height: 800px;
        text-align: center;
    }



    .options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        padding: 10px 5vw;
    }

    .options .search {
        flex-direction: row;
        margin-top: 10px;
    }

    .options .search input {
        width: 180px;
        padding: 0px 10px;
        justify-self: flex-start;
    }

    .options .search img {
        display: inline-block;
        z-index: 1;
        padding: 2px;
        justify-self: flex-start;
    }

    /* Searchbar Opening / Clossing Animation */
    @keyframes search-slide-out {
        0% {
            width: 0px;
            justify-content: right;
            border: white 1px solid;
        }

        100% {
            width: 250px;
            border: white 1px solid;
        }
    }

    @keyframes search-slide-in {
        0% {
            width: 250px;
            border: white 1px solid;
        }

        90% {
            border: white 1px solid;
        }

        95% {
            width: 30px;
            border: none;
        }

        100% {
            width: 0px;
            justify-content: left;
        }
    }



    .card {
        width: 110px;
        height: 200px;
        margin: 12px 6px;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card .img-container {
        width: 100px;
        height: 120px;
    }







    .news-section .box {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 150px;
        grid-gap: 5px;
    }

    .one,
    .two,
    .three,
    .four {
        padding: 1px;
    }









    .about-section .sub-text-1 {
        padding: 15px 10px;
    }

    .partners img {
        height: 35px;
        margin: 20px 10px;
    }







    .plan-card {
        height: 350px;
        width: 200px;
        border-radius: 40px;
    }

    .plan-card .details-card {
        height: 250px;
        width: 200px;
        border-radius: 40px;
    }

    .plan-card .heading-1 .cent {
        font-size: 1.2rem;
    }

    .plan-card .details-card .super-circle {
        width: 130px;
        height: 130px;
    }

    .plan-card .details-card .circle {
        width: 130px;
        height: 130px;
    }










    .footer {
        padding: 1vh 4vw;
    }

    .newsletter {
        padding: 6px 4px;
    }

    .email input,
    .email button {
        width: 260px;
        margin: 4px 6px;
        padding: 6px;
    }

    .email {
        text-align: center;
    }

    .email button {
        width: 260px;
    }

    .description p {
        min-width: 200px;
        max-width: 300px;
    }

    .news a {
        min-width: 200px;
        max-width: 300px;
    }

}